@model FoodModel

<div class="col " id="@Model.Id">
	<div class="card foodItemCard mb-1" style="max-width: 540px;">
		<div class="row g-0">
			<div class="@(string.IsNullOrEmpty( Model.ImageSrc) ? "col-12" : "col-10")">
				<div class="card-body p-2 mx-2">
					<div class="row row-cols-2 " id="cardFooter-@Model.Id">
						<div class="col-10">
							@for (var i = 0; i < Model.TagsAsEnums.Count; i++)
							{
								<span class="badge me-1" style=" background-color: @Model.GetTagColor(Model.TagsAsEnums[i]);">@Model.TagsAsEnums[i]</span>
							}
						</div>
						<div class="col-2 text-end">
							<span class="pricePill badge rounded-pill border border-primary">$@Model.Price</span>
						</div>
					</div>
					<div class="row row-cols-2  d-flex pt-3">
						<div class="col-10  ">
							<p id="text-@Model.Id" class="">
								@Model.Name
							</p>
						</div>
						<div class="col-2 text-end">
							@if (User.Identity.IsAuthenticated)
							{
								<a id="deleteBtn-@Model.Id" class="linkIcon deleteButton text-danger" style="text-decoration:unset !important">
									<i class="bi bi-trash-fill"></i>
								</a>
							}

							@if (!string.IsNullOrEmpty(Model.Description))
							{
								<a id="infoBtn-@Model.Id" class="infoButton linkIcon">
									<i class="main-color bi bi-info-circle"></i>
								</a>
							}

						</div>
					</div>

					@if (!string.IsNullOrEmpty(Model.Description))
					{
						<p id="description-@Model.Id" style="display: none;">
							@Model.Description
						</p>
					}
				</div>
			</div>
			@if (!string.IsNullOrEmpty(Model.ImageSrc))
			{
				<div class="col-2">
					<div class="menu-img-wrapper">
						<img id="img-@Model.Id" class="img-fluid menu-img" src="@Model.ImageSrc" alt="Food Image">
					</div>
				</div>
			}
		</div>
	</div>
</div>