@model CategoryDto

@{
	ViewData["Title"] = Model.Category.Name;
}

<!-- Delete modal -->
<div class="modal fade" id="toastRemove" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">The following item will be removed:</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" id="toastRemoveButton">Remove</button>
			</div>

			<input type="hidden" id="idToRemove" />

		</div>
	</div>
</div>

<!-- Info modal -->
<div class="modal fade" id="toastInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="infoTitle"></h1>

				<img id="infoImage" src="" alt="Food Image" />

				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<h5 class="modal-body" id="infoDescription"></h5>
			<div class="modal-footer">
				@* TODO: display the tags *@
			</div>

			<input type="hidden" id="idToRemove" />

		</div>
	</div>
</div>

<div class="text-center">


	<p>@Model.Category.Name</p>
	<p>@Model.Category.Description</p>

	<hr />
	<hr />

	@foreach (var food in Model.Food)
	{
		<div id="@food.Id">

			<p id="text-@food.Id">
				@food.Name
			</p>

			<p id="description-@food.Id" style="display: none;">
				@food.Description
			</p>

			@if (food.Image != null)
			{
				<p> is not null</p>
				<img id="img-@food.Id" src="@food.Image.ImageAsString" alt="Food Image" />
			}

			@for (var i = 0; i < food.TagsAsEnums.Count; i++)
			{
				@food.TagsAsEnums[i]
				@((i < food.TagsAsEnums.Count - 1) ? ", " : "")
			}

			@if (!string.IsNullOrEmpty(food.Description))
			{
				<a id="infoBtn-@food.Id" class="btn btn-secondary infoButton">
					<i class="bi-info-lg"></i>
				</a>
			}


			@if (User.Identity.IsAuthenticated)
			{
				<a id="deleteBtn-@food.Id" class="btn btn-danger deleteButton">
					<i class="bi-trash-fill"></i>
				</a>
			}

			<hr />
			<br />	<br />

		</div>
	}

	@if (User.Identity.IsAuthenticated)
	{
		<a class="btn btn-secondary"
		   asp-controller="Food"
		   asp-action="AddNew"
		   asp-route-categoryId="@Model.Category.Id">
			Add new
		</a>
	}

</div>

@section Scripts {

	<script>

		function getFoodId(button) {
			//previous implementation
			//return button.closest('tr').find('.id').val(); // Retrieve the note ID from the closest row to the button
			return button.attr("id").split('-')[1];
		}

		//Delete

		$(function () {
			$(".deleteButton").on('click', function (e) {
				e.preventDefault();

				const button = $(this);
				const toast = $("#toastRemove");

				toast.modal('show');

				const id = getFoodId(button);
				toast.find(".modal-body").text($("#text-" + id).text());
				toast.find("#idToRemove").val(id)
			});
		})

		$(function () {
			$("#toastRemoveButton").on('click', function (e) {

				e.preventDefault();

				const toast = $("#toastRemove");
				const foodId = toast.find("#idToRemove").val()

				$.ajax({
					url: '@Url.Action("DeleteFromToast", "Food")',
					type: 'POST',
					data: { id: foodId },
					success: function (response, status, jqxhr) {
						console.log("Food removed: ", response)
						$('#' + foodId).remove();
					},
					error: function (jqxhr, status, error) {
						console.log("Error removing note: ", error);
					},
					complete: function () {
						toast.modal('hide');
					}
				});
			});
		})

		//Info
		$(function () {
			$(".infoButton").on('click', function (e) {
				e.preventDefault();

				const button = $(this);
				const toast = $("#toastInfo");

				toast.modal('show');

				const id = getFoodId(button);
				toast.find("#infoTitle").text($("#text-" + id).text());
				toast.find("#infoDescription").text($("#description-" + id).text());

				//Display image
				//const imageSrc = $("#img-" + id).attr("src");
				//toast.find("#infoImage").attr("src", imageSrc);
				const imageElement = $("#img-" + id);
				if (imageElement.length && imageElement.attr("src")) {
					toast.find("#infoImage").attr("src", imageElement.attr("src")).show();
				} else {
					toast.find("#infoImage").hide(); // Hide the image element if no image is available
				}

				//toast.find(".modal-body").text($("#text-" + id).text());

			});
		})

	</script>
}
